.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vectorIcon1 {
  height: 83.33%;
  width: 66.67%;
  top: 8.33%;
  right: 16.67%;
  bottom: 8.33%;
  left: 16.67%;
}
.md {
  position: absolute;
  top: 54.17%;
  left: 25%;
  line-height: 8px;
}
.iconfileMd {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--white-default);
  font-family: var(--font-roboto);
}
