.componentsChild {
  position: absolute;
  height: 20.61%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 79.39%;
  left: 0;
  border-radius: var(--br-base) var(--br-base) 0 0;
  background-color: var(--color-lightskyblue-200);
  box-shadow: 0 0 40px rgba(163, 192, 202, 0.53);
  border: 1px solid var(--color-gray-800);
  box-sizing: border-box;
}
.components,
.componentsItem {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.componentsItem {
  height: 80%;
  top: 20%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  box-shadow: 0 4px 24px 1px rgba(35, 16, 94, 0.25);
  backdrop-filter: blur(45px);
}
.components {
  height: 100%;
  top: 0;
}
.property1variant3Child,
.property1variant3Item {
  position: absolute;
  height: 16.97%;
  width: 91.62%;
  top: 35.15%;
  right: 4.71%;
  bottom: 47.88%;
  left: 3.66%;
  border-radius: var(--br-4xs);
  background-color: var(--color-whitesmoke-200);
  box-shadow: 0 4px 24px 1px rgba(35, 16, 94, 0.25);
  backdrop-filter: blur(45px);
  border: 3px solid var(--color-plum);
  box-sizing: border-box;
}
.property1variant3Item {
  top: 58.79%;
  bottom: 24.24%;
  background-color: var(--color-whitesmoke-100);
  border: 3px solid var(--color-slateblue);
}
.property1variant3 {
  width: 191px;
  height: 165px;
}
